.updateProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 300px;
    &__notice {
      font-size: 14px;
      margin: 20px;
      font-style: italic;
    }
    &__elem {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-size: 14px;
      height: 50px;
      justify-content: space-around;
    }
  }