.profileContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.forms {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  
}


