.home {
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199.98px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__addBook {
    max-width: 25vw;
    width: 100%;
    margin: 0 10px;

    @media (max-width: 1199.98px) {
      display: none;
    }
  }
}

.addIcon {
  display: none;
  @media (max-width: 1199.98px) {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
