.borrowBookContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 550px;
    padding: 20px;

    .borrowBook {
        height: 50px;
        display: grid;
        grid-template-columns: 150px 300px 100px 75px;
        align-items: center;
        
        border-top: 1px solid rgb(233, 233, 233);
        border-bottom: 1px solid rgb(233, 233, 233);

        &__date, &__ISBN {
            font-size: 0.8rem;
        }

        @media (max-width: 991.98px) {
            grid-template-columns: 150px 100px 75px;
            &__ISBN {
                display: none;
            }
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
            grid-template-columns: 300px 100px 75px;
            &__ISBN {
              display: none;
            }
          }
    }
}
