.container {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.resetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 800px;
  width: 50%;
  height: 300px;

  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__elem {
    font-size: 14px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
