.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__elem {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 50px;
    margin-bottom: 10px;
    line-height: 1.5rem;
  }
}
