.signUpContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
 

  &__elem {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
  }
}
