.signInContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  position: relative;

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-right: 0;

    &__elem {
      font-size: 14px;
      height: 50px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      line-height: 1.5rem;
    }
  }

  .resetLink {
    text-decoration: none;
    color: black;
    margin-top: 50px;

    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (min-width: 960.01px) {
    .signInContainer {
      width: 500px;
      margin-bottom: 30px;
    }

    .resetLink {
      margin-top: 80px;
    }
  }
}

.circularProgress {
  position: absolute;
  bottom: 40px;
}
