* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana,
    sans-serif;
}

button {
  padding: 3px;
  cursor: pointer;
  border: none;
  &:hover {
    opacity: 0.8;
  }
}