.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgb(202, 202, 202);

  &__left {
    display: flex;
  }
  
  &__right {
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }
}
